<!-- ================= HEADER ================= -->
<app-buyer-shared-header-footer></app-buyer-shared-header-footer>

<!-- =========================
     MAIN CONTAINER
========================= -->
<div class="page-container">

  <!-- ================= HERO SECTION ================= -->
  <div class="hero-section">

    <!-- CATEGORIES -->
    <div class="category-list">
      <h3>Categories</h3>
      <ul>
        <li
          *ngFor="let c of categories"
          (click)="filterByCategory(c)"
        >
          {{ c.categoryName }}
          <i class="ri-arrow-right-s-line"></i>
        </li>
      </ul>
    </div>

    <!-- HERO CARD -->
    <div class="hero-card">
      <h2>Fast Customization</h2>
      <p>
        Connect with verified B2B jewellery manufacturers & wholesalers across India
      </p>
      <a href="" style="color:#c7a008"><strong>Request Custom Quote</strong></a>
    </div>
  </div>

  <!-- ================= BROWSE BY METAL ================= -->
  <section class="browse-metal-section">
    <!-- <h2 class="section-title">Browse by Metal</h2> -->
    <h3 style="font-size: 19px;">Browse by Metal</h3>


    <div class="metal-scroll"  routerLink="/buyer-product-list/5">
      <div
        class="metal-card"
        *ngFor="let m of metals"
        (click)="filterByMetal(m)"
      >
        <div class="metal-image">
          <img
            [src]="'assets/Image/'+m.metalName+'_Metal.png'"
            [alt]="m.metalName"
            loading="lazy"
            
          />
        </div>

        <div
          class="metal-name"
          [class.active]="selectedMetalId === m.metalId"
        >
          {{ m.metalName }}
        </div>
      </div>
    </div>
  </section>

  <!-- ================= FEATURED PRODUCTS ================= -->
  <div class="section-header">
    <h3>Featured Products</h3>
    <a href="/buyer-product-list/4" style="color:#c7a008"><strong>View more</strong></a>
    <!-- <span class="view-more">View more</span> -->
  </div>

  <div class="horizontal-scroll">
    <div
      class="product-card"
      *ngFor="let p of featuredProducts"
      (click)="openProduct(p)"
    >
      <img
        class="product-img"
        [src]="getProductImage(p.thumbnailUrl)"
        (error)="onImageError($event)"
      />
      <div class="product-name">{{ p.productName }}</div>
      <div class="product-price">₹{{ p.pricePerGram }}</div>
      <div class="product-seller">{{ p.businessName }}</div>
    </div>
  </div>

  <!-- ================= TRENDING PRODUCTS ================= -->
  <div class="section-header">
    <h3>Trending Products</h3>
     <a href="/buyer-product-list/1" style="color:#c7a008"><strong>View more</strong></a>
    <!-- <span class="view-more">View more</span> -->
  </div>

  <div class="horizontal-scroll">
    <div
      class="product-card"
      *ngFor="let p of trendingProducts"
      (click)="openProduct(p)"
    >
      <img
        class="product-img"
        [src]="getProductImage(p.thumbnailUrl)"
        (error)="onImageError($event)"
      />
      <div class="product-name">{{ p.productName }}</div>
      <div class="product-price">₹{{ p.pricePerGram }}</div>
      <div class="product-seller">{{ p.businessName }}</div>
    </div>
  </div>

  <!-- ================= TOP SELLERS ================= -->
  <div class="section-header">
    <h3>Top Sellers</h3>
     <a href="/buyer-product-list/2" style="color:#c7a008"><strong>View more</strong></a>
    <!-- <span class="view-more">View more</span> -->
  </div>

  <div class="horizontal-scroll">
    <div class="seller-card" *ngFor="let s of topSellers">
      <h4>{{ s.businessName }}</h4>
      <span>{{ s.productCount }} Products</span>
    </div>
  </div>

  <!-- ================= RECENTLY VIEWED ================= -->
  <div class="section-header">
    <h3>Recently Viewed</h3>
     <a href="/buyer-product-list/3" style="color:#c7a008"><strong>View more</strong></a>
    <!-- <span class="view-more">View more</span> -->
  </div>

  <div class="horizontal-scroll">
    <div
      class="product-card"
      *ngFor="let p of recentlyViewed"
      (click)="openProduct(p)"
    >
      <img
        class="product-img"
        [src]="getProductImage(p.thumbnailUrl)"
        (error)="onImageError($event)"
      />
      <div class="product-name">{{ p.productName }}</div>
      <div class="product-price">₹{{ p.pricePerGram }}</div>
      <div class="product-seller">{{ p.businessName }}</div>
    </div>
  </div>

</div>

<!-- ================= FOOTER ================= -->
<app-buyer-shared-footer></app-buyer-shared-footer>