.thumb-add {
  width: 78px;
  height: 78px;
  border: 2px dashed #bbb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
}

.thumb-add:hover {
  border-color: #d4af37;
  color: #d4af37;
}

.thumb-add input {
  display: none;
}
